textarea.simple_field {
  width:90%;
}

.circles-container {
  width:90%;
  height:inherit;
}

.concept-circle {
  float:none;
  margin:10px auto;
}

.plus-sign {
  margin:16px auto;
  text-align:center;
  clear:both;
  float:none;
  height:30px;
}

.mashup-text {
  width:90%;
}